/* Oculta la barra de scroll en todos los navegadores */
html, body {
  overflow: hidden;
  /* Para navegadores Webkit (Chrome, Safari) */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE y Edge */
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}